/**
 * jQuery Leapcha CSS
 * Written by: John P. Barbagallo
 *
 */

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

#lc-form {
    clear: both;
    overflow: auto;
}

#lc-canvas {
    border: 3px dashed #555555;
    border-radius: 12px;
    width: 690px;
    height: 500px;
    position: relative;
    clear: both;
}

#lc-canvas.lc-invalid {
    border: 5px dotted #f70017;
}

#lc-canvas.lc-valid {
    border: 5px dashed #24ad1a;
}

#lc-challenge {
	width:210px;  /* For best results, set width to between 210px and 240px */
	height:140px; /* For best results, set height to between 140px and 170px */
    position: relative;
    clear: both;
    background-image: url('../images/leapcha-shapes.jpg') !important;
	background: #fff;
}

/**
    SHAPES
----------------------------*/
#lc-challenge.triangle     { background-position:  10px   10px }
#lc-challenge.x            { background-position:-200px   10px }
#lc-challenge.rectangle    { background-position:-400px   10px }
#lc-challenge.circle       { background-position:-600px   10px }
#lc-challenge.check        { background-position:  10px -150px }
#lc-challenge.caret        { background-position:-200px -150px }
#lc-challenge.zigzag       { background-position:-400px -150px }
#lc-challenge.arrow        { background-position:-600px -150px }
#lc-challenge.leftbracket  { background-position:  10px -300px }
#lc-challenge.rightbracket { background-position:-200px -300px }
#lc-challenge.v            { background-position:-400px -300px }
#lc-challenge.delete       { background-position:-600px -300px }
#lc-challenge.leftbrace    { background-position:  10px -450px }
#lc-challenge.rightbrace   { background-position:-200px -450px }
#lc-challenge.star         { background-position:-400px -450px }
#lc-challenge.pigtail      { background-position:-600px -450px }